#pageTitle p{
    margin: auto;
    font-size: 40pt;
}
#container {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
}

.simulationSelection{
    stroke:cyan;
}

#eventTabs{
    margin-bottom: 12px;
}

#wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

#playerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
#simOptions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.button{
    margin-top: 10px;
    margin-bottom: 10px;
}

#slider{
    width: 300px;
}

#map{
    height: 450px;
    width: 700px;
    margin: 0 auto;
    padding: 15px;
}

.option active{
    background-color: darkslategray; /* Green */
    border: none;
    color: white;
    margin:5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.option{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    margin:5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
.selected {
    stroke: #fffbf9;
}

#mapContainer{
    display: flex;
    flex-direction: row;
}
.colorBar{
    width:300px;
}